<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="panettoneBuilder"
         name="Panettone Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="br.com.caelum.panettone.eclipse.builder.PanettoneBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="panettoneNature"
         name="Panettone Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="br.com.caelum.panettone.eclipse.PanettoneNature">
         </run>
      </runtime>
      <builder
            id="panettone-eclipse.panettoneBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Panettone Project Nature commands"
            id="panettone-eclipse.panettoneNature.category">
      </category>
      <command
            name="Add/RemovePanettone Project Nature"
            defaultHandler="br.com.caelum.panettone.eclipse.AddRemovePanettoneNatureHandler"
            categoryId="panettone-eclipse.panettoneNature.category"
            id="panettone-eclipse.addRemovePanettoneNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="panettone-eclipse.addRemovePanettoneNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="panettone-eclipse.panettoneNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="panettone-eclipse.addRemovePanettoneNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="panettone-eclipse.panettoneNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="toneProblem"
         name="Tone Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
